<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active ws users</title>
</head>

<body>
    <h1>Connect to room</h1>

    <h1 id="status"></h1>

    <script>
        let text;
        let person = prompt("Please enter your name:", "Harry Potter");
        if (person == null || person == "") {
            text = "User cancelled the prompt.";
        } else {

            const package = JSON.stringify({
                person
            });

            const socket = new WebSocket(location.origin.replace(/^http/, 'ws'));

            socket.addEventListener('message', (message) => {
                const json = JSON.parse(message.data)

                if (json.type === "connected") {
                    document.getElementById('status').innerHTML = "connected with id: " + json.id;
                    socket.send(JSON.stringify({
                        type: "connected",
                        id: json.id,
                        name: person
                    }));
                }
            })

            function initSensor() {
                sensor = new AbsoluteOrientationSensor({
                    frequency: 60
                });
                sensor.onreading = () => {
                    model.quaternion.fromArray()

                    socket.send(JSON.stringify({
                        type: "sensor",
                        id: json.id,
                        quaternion: sensor.quaternion
                    }));
                };
                sensor.onerror = (event) => {
                    if (event.error.name == 'NotReadableError') {
                        console.log('Sensor is not available.');
                    }
                };
                sensor.start();
            }

            socket.onerror = function(error) {
                alert(`[Error] ${error.message}`);
                document.getElementById('status').innerHTML = "Disconnected";
            };

        }
    </script>
</body>

</html>