<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS for users with dark mode -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css" media="(prefers-color-scheme: dark)">

    <!-- CSS for users without dark mode -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_pearl-lusta.min.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">

    <title>Connect with your mobile device</title>
</head>

<body>
    <h1>Connect to room</h1>

    <h1 id="status"></h1>
    <h2 id="sensor_status"></h2>
    <table>
        <thead>
            <tr>
                <th>x,y,z,w</th>
            </tr>
        </thead>
        <tbody id="sensor_data">
        </tbody>
    </table>

    <script type="module" src="/connect.js"></script>
</body>

</html>